<!DOCTYPE html>
<html lang="en" data-theme="light" data-sidebar-behaviour="fixed" data-navigation-color="default" data-is-fluid="true">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    {% load static %}
    
    <meta charset="utf-8">
    <meta name="csrf-token" content="TuDsCdKJ03MPusFP2GKqzoWGwF8PuVfDi0T5H9qW">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Webinning" name="author">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'themes/dashly/assets/css/theme.bundle.css' %}" id="stylesheetLTR">
    <link rel="stylesheet" href="{% static 'themes/dashly/assets/css/theme.rtl.bundle.css' %}" id="stylesheetRTL">
    <link rel="stylesheet" href="{% static 'css/summit-theme.css' %}?v=13">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;display=swap">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;display=swap">
    </noscript>

    <script>
        // Add your client ID and secret
        var PAYPAL_CLIENT = 'iidjdjdj';
        var PAYPAL_SECRET = 'jijdjkdkdk';
        // Point your server to the PayPal API
        var PAYPAL_ORDER_API = 'https://api.paypal.com/v2/checkout/orders/';
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=iidjdjdj"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script>
        // Theme switcher
        let themeSwitcher = document.getElementById('themeSwitcher');

        const getPreferredTheme = () => {
            if (localStorage.getItem('theme') != null) {
                return localStorage.getItem('theme');
            }

            return document.documentElement.dataset.theme;
        };

        const setTheme = function(theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ?
                    'dark' : 'light';
            } else {
                document.documentElement.dataset.theme = theme;
            }

            localStorage.setItem('theme', theme);
        };

        const showActiveTheme = theme => {
            const activeBtn = document.querySelector(`[data-theme-value="${theme}"]`);

            document.querySelectorAll('[data-theme-value]').forEach(element => {
                element.classList.remove('active');
            });

            activeBtn && activeBtn.classList.add('active');

            // Set button when the stored theme mode is enabled
            document.querySelectorAll('[data-theme-control="theme"]').forEach(element => {
                if (element.value == theme) {
                    element.checked = true;
                }
            });
        };

        function reloadPage() {
            window.location = window.location.pathname;
        }


        setTheme(getPreferredTheme());

        if (typeof themeSwitcher != 'undefined') {
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                if (localStorage.getItem('theme') != null) {
                    if (localStorage.getItem('theme') == 'auto') {
                        reloadPage();
                    }
                }
            });

            window.addEventListener('load', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-theme-value]').forEach(element => {
                    element.addEventListener('click', () => {
                        const theme = element.getAttribute('data-theme-value');

                        localStorage.setItem('theme', theme);
                        reloadPage();
                    })
                })
            });
        }
    </script>
    <!-- Favicon -->
        <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}?v=3" type="image/png">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}?v=3" type="image/png">

    <!-- Theme script -->
    <script>
        var themeConfig = {
            theme: JSON.parse('"light"'),
            isRTL: JSON.parse('false'),
            isFluid: JSON.parse('true'),
            sidebarBehaviour: JSON.parse('"fixed"'),
            navigationColor: JSON.parse('"default"')
        };

        var isRTL = localStorage.getItem('isRTL') === 'true',
            isFluid = localStorage.getItem('isFluid') === 'true',
            theme = localStorage.getItem('theme'),
            sidebarSizing = localStorage.getItem('sidebarSizing'),
            linkLTR = document.getElementById('stylesheetLTR'),
            linkRTL = document.getElementById('stylesheetRTL'),
            html = document.documentElement;

        if (isRTL) {
            linkLTR.setAttribute('disabled', '');
            linkRTL.removeAttribute('disabled');
            html.setAttribute('dir', 'rtl');
        } else {
            linkRTL.setAttribute('disabled', '');
            linkLTR.removeAttribute('disabled');
            html.removeAttribute('dir');
        }
    </script>

    <!-- Page Title -->
    <title>Refer user | Summit Teachable</title>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
    <!-- Livewire Styles -->
<style >
    [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
        display: none;
    }

    [wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
        display:none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill { from {} }
</style>
</head>

<body>
    <!-- Django Messages -->
    {% include 'includes/messages.html' %}


    
    <script>
        
    </script>
    <!-- THEME CONFIGURATION -->
    <script>
        let themeAttrs = document.documentElement.dataset;

        for (let attr in themeAttrs) {
            if (localStorage.getItem(attr) != null) {
                document.documentElement.dataset[attr] = localStorage.getItem(attr);

                if (theme === 'auto') {
                    document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ?
                        'dark' : 'light';

                    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                        e.matches ? document.documentElement.dataset.theme = 'dark' : document.documentElement
                            .dataset.theme = 'light';
                    });
                }
            }
        }
    </script>
    <!-- NAVIGATION -->
    {% include "includes/sidebar.html" %}
    <!-- MAIN CONTENT -->
    <main>
        <!-- HEADER -->
        {% include 'includes/topbar.html' %}

        <div class="container-fluid mb-5">
                <!-- Title -->
    <h1 class="h2">
        Refer users to Summit Teachable community
    </h1>
    <div>
    <div>
    </div>
    <div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" x-data="{
                        copied: false,
                        url: '{{ referral_link }}',
                        username: '{{ user.username }}',
                        copyToClipboard(text) {
                            if (!navigator.clipboard) {
                                return alert('Copying to clipboard only works on secure sites viewed through a modern browser.')
                            }
                            navigator.clipboard.writeText(text)
                                .then(() => {
                                    var toastOptions = {
                                        'closeButton': false,
                                        'debug': false,
                                        'newestOnTop': false,
                                        'progressBar': false,
                                        'positionClass': 'toast-top-right',
                                        'preventDuplicates': false,
                                        'onclick': null,
                                        'showDuration': '300',
                                        'hideDuration': '1000',
                                        'timeOut': '5000',
                                        'extendedTimeOut': '1000',
                                        'showEasing': 'swing',
                                        'hideEasing': 'linear',
                                        'showMethod': 'fadeIn',
                                        'hideMethod': 'fadeOut'
                                    };
                                    Command: toastr['success']('Copied to clipboard', 'Success')
                                    toastr.options = toastOptions;
                                })
                        },
                    }">
                        <div class="col-md-8 offset-md-2 text-center">
                            <h4>You can refer users by sharing your referral link:</h4>

                            <div class="d-flex mt-2">
                                <input class="form-control me-3 fs-4" id="reflink" value="{{ referral_link }}"
                                    readonly>
                                <div>
                                    <span x-show="copied" style="display: none" x-transition.scale.origin.right.opacity
                                        class="pr-2 text-sm">Copied!</span>
                                    <!-- Button -->
                                    <button class="clipboard btn btn-link px-0" data-clipboard-target="#key-02"
                                        data-bs-toggle="tooltip" data-bs-title="Copy to clipboard"
                                        x-on:click="copyToClipboard(url)">
                                        <i class="bi bi-clipboard fs-3"></i>
                                    </button>

                                </div>
                            </div>

                            <div>
                                <h4 class="mt-3 mb-0">or your Referral ID</h4>
                                <h4 class="text-primary h2 d-inline"> potus</h4>
                                
                                <!-- Button -->
                                <button class="clipboard btn btn-link px-0" data-clipboard-target="#key-02"
                                    data-bs-toggle="tooltip" data-bs-title="Copy to clipboard"
                                    x-on:click="copyToClipboard(username)">
                                    <i class="bi bi-clipboard fs-3"></i>
                                </button>
                            </div>

                                                    </div>
                                                    <div class="col-12 my-4">
                                <div>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item border rounded m-1">
                                            <a class="nav-link active" aria-current="page" href="#"
                                                wire:click.prevent="changeLevel('Direct level')">Direct level</a>
                                        </li>
                                        <li class="nav-item border rounded m-1">
                                            <a class="nav-link" href="#"
                                                wire:click.prevent="changeLevel('Level 1')">Level
                                                1</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12">
                                <h5>Direct level referrals</h5>
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h6 class="m-0 h5">Total Deposit</h6>
                                                <h3 class="m-0">
                                                    $0.00
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h6 class="m-0 h5">Total Amount invested</h6>
                                                <h3 class="m-0">
                                                    $0.00
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h6 class="m-0 h5">Profit made by Referrals</h6>
                                                <h3 class="m-0">
                                                    $0.00
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h6 class="m-0 h5">You have Earned</h6>
                                                <h3 class="m-0">
                                                                                                        $0.00
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Client name</th>
                                                    <th>Ref. level</th>
                                                    <th>Total Deposit</th>
                                                    <th>Total Amount invested</th>
                                                    <th>Profit Made</th>
                                                    <th>Parent</th>
                                                    <th>Client status</th>
                                                    <th>Date registered</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                                                                    <tr>
                                                        <td colspan="9" class="text-center py-3">
                                                            <i class="bi bi-database-fill-exclamation"
                                                                style="font-size: 50px"></i>
                                                            <p> No referrals yet</p>
                                                        </td>
                                                    </tr>
                                                                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
    </div>

                                
                                                            </div>
                                                                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Livewire Component wire-end:jytUmNOrBEcIrNm3eJkY -->        </div>

        <!-- Footer -->
        <footer class="mt-auto">
            <div class="container-fluid mt-4 mb-6 text-muted">
                <div class="row justify-content-between">
                    <div class="col">
                        All Rights Reserved &copy; Summit Teachable {{ "now"|date:"Y" }}
                    </div>

                    <div class="col-auto">
                                                    <div id="google_translate_element"></div>
                                            </div>
                </div> <!-- / .row -->
            </div>
        </footer>
    </main> <!-- / main -->

    <!-- JAVASCRIPT-->
    <!-- Theme JS -->

    <script src="{% static 'themes/dashly/assets/js/theme.bundle.js' %}"></script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en'
                }, 'google_translate_element');
            }
        </script>
        <!-- Livewire Scripts -->

<script src="/secure/livewire/livewire.js?id=fe747446aa84856d8b66" data-turbo-eval="false" data-turbolinks-eval="false" ></script>
<script data-turbo-eval="false" data-turbolinks-eval="false" >
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '/secure';
    window.livewire_token = 'TuDsCdKJ03MPusFP2GKqzoWGwF8PuVfDi0T5H9qW';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    let started = false;

    window.addEventListener('alpine:initializing', function () {
        if (! started) {
            window.livewire.start();

            started = true;
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        if (! started) {
            window.livewire.start();

            started = true;
        }
    });
</script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    </body>

</html>
