{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Forgot Password | Summit Teachable{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center vh-100">
    <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 py-6 shadow-sm">

        <div class="text-center">
            <a href="{% url 'accounts:login' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="w-50">
            </a>
        </div>

        <!-- Title -->
        <h1 class="mb-2 text-center">
            Forgot Password?
        </h1>

        <!-- Subtitle -->
        <p class="text-secondary text-center">
            Enter your email address and we'll send you instructions to reset your password.
        </p>

        <!-- Form -->
        <form method="POST" action="{% url 'accounts:forgot_password' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <!-- Label -->
                        <label class="form-label">
                            Email Address
                        </label>
                        <!-- Input -->
                        <input type="email" name="email" class="form-control"
                            placeholder="Your email address" required>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row align-items-center text-center">
                <div class="col-12">
                    <!-- Button -->
                    <button type="submit" class="btn w-100 btn-primary mt-6 mb-2">Reset Password</button>
                </div>

                <div class="col-12">
                    <!-- Link -->
                    <small class="mb-0 text-muted">Remember your password?
                        <a href="{% url 'accounts:login' %}" class="fw-semibold">Sign in</a>
                    </small>
                </div>
            </div> <!-- / .row -->
        </form>
    </div>
</div> <!-- / .row -->
{% endblock %}
